*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    height: 100vh;

}
form{
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    width: 450px;
    height: 450px;
    border-radius: 20px;

}
.star{
    margin-right:320px;
    margin-top: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    
}

h1{
    color: whitesmoke;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    font-family: 'Overpass', sans-serif;
    
}
p{
    color: hsl(217, 12%, 63%) ;
    text-align: left;
    margin-top: 20px;
    font-size: 15px;
    width: 350px;
    margin-left: 20px;
    font-family: 'Overpass', sans-serif;
    line-height: 1.5;
    word-spacing: 1px;
    
    
}
ol{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Overpass', sans-serif;
    
}

.number_btn{
    
    font-style: none;
    border-radius: 40%;
    text-decoration: none;
    background-color: #2f3a42;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    color: hsl(217, 12%, 63%);
    margin-top: 60px;
    opacity: 200;
}

.number_btn:hover {
    background-color: orange;
    color: white;
}

.number_btn.selected{
    background-color: white;
    color: orange;
}

.submitButton{
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    border: none;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    margin-top: 20px;
}
.submitButton:hover{
    background-color: white;
    color: orange;
}
#thankYouForm{
    display: none;
}